<mat-card>
    <mat-card-title>
        <div fxLayout="row" 
             fxLayoutAlign="space-between center">
            <div fxFlex="50">
                <span>Detalles</span>
            </div>

            <div fxFlex="50" fxLayoutAlign="end">
                <div fxLayout="row" fxLayoutGap="15px" fxLayoutGap.xs="10px">
                    <button mat-raised-button
                            color="primary"
                            (click)="registrar()">
                            Volver
                    </button>
                </div>
            </div>
        </div>
    </mat-card-title>

    <hr>
    <br>

    <ng-container *ngIf="!detalles || detalles.length === 0; else datos">
        <app-spinner [lista]="detalles"></app-spinner>
    </ng-container>

    <ng-template #datos>
        <p-table [value]="detalles" 
                 #dt
                 [paginator]="true" 
                 [rows]="10" 
                 [showCurrentPageReport]="true" 
                 responsiveLayout="scroll"
                 currentPageReportTemplate="Viendo de {first} a {last} de {totalRecords} Detalles" 
                 [rowsPerPageOptions]="[10,25,50]"
                 [globalFilterFields]="['nombre']">
            <ng-template pTemplate="caption">
                <div fxLayout="row" 
                     fxLayoutAlign="space-between center">
                     <div fxFlex="90">
                         <app-input-filtro [dt]="dt"></app-input-filtro>
                     </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Producto</th>  
                    <th>Cantidad</th>       
                    <th>Valor</th>
                    <th>Accion</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-detalle>
                <tr>
                    <td>{{ detalle.id }}</td>
                    <td>{{ detalle.producto.nombre}}</td>
                    <td>{{ detalle.cantidad }}</td>
                    <td>{{ detalle.valor }}</td>
                    <td>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item
                                    [routerLink]="['/user/factura/editar-factura',detalle.id]">
                              <mat-icon>edit</mat-icon>
                              <span>Modificar</span>
                            </button>

                          </mat-menu>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>

</mat-card>



