<mat-card>
    <mat-card-title>
        <div fxLayout="row" 
             fxLayoutAlign="space-between center">
            <div fxFlex="50">
                <span>Clientes</span>
            </div>

            <div fxFlex="50" fxLayoutAlign="end">
                <div fxLayout="row" fxLayoutGap="15px" fxLayoutGap.xs="10px">
                    <button mat-raised-button
                            color="primary"
                            (click)="registrar()">
                            Registrar
                    </button>
                </div>
            </div>
        </div>
    </mat-card-title>

    <hr>
    <br>

    <ng-container *ngIf="!clientes || clientes.length === 0; else datos">
        <app-spinner [lista]="clientes"></app-spinner>
    </ng-container>

    <ng-template #datos>
        <p-table [value]="clientes" 
                 #dt
                 [paginator]="true" 
                 [rows]="10" 
                 [showCurrentPageReport]="true" 
                 responsiveLayout="scroll"
                 currentPageReportTemplate="Viendo de {first} a {last} de {totalRecords} Clientes" 
                 [rowsPerPageOptions]="[10,25,50]"
                 [globalFilterFields]="['nombre', 'apellido', 'edad']">
            <ng-template pTemplate="caption">
                <div fxLayout="row" 
                     fxLayoutAlign="space-between center">
                     <div fxFlex="90">
                         <app-input-filtro [dt]="dt"></app-input-filtro>
                     </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>  
                    <th>Apellido</th>       
                    <th>Direccion</th>
                    <th>Edad</th>
                    <th>Accion</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-cliente>
                <tr>
                    <td>{{ cliente.id }}</td>
                    <td>{{ cliente.nombre}}</td>
                    <td>{{ cliente.apellido }}</td>
                    <td>{{ cliente.direccion }}</td>
                    <td>{{ cliente.edad }}</td>
                    <td>
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item
                                    [routerLink]="['/user/cliente/editar-cliente',cliente.id]">
                              <mat-icon>edit</mat-icon>
                              <span>Modificar</span>
                            </button>
                            <button mat-menu-item
                                    (click)="eliminar( cliente )">
                              <mat-icon>delete</mat-icon>
                              <span>Elminar</span>
                            </button>
                          </mat-menu>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>

</mat-card>


