<mat-card class="mat-elevation-z4">
    <mat-card-title>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="50">
                <span>{{ ( producto.id ) ? 'Editar' : 'Registrar' }} producto</span>
            </div>

            <div fxFlex="50" fxLayoutAlign="end">
                <div fxLayout="row" fxLayoutGap="15px" fxLayoutGap.xs="10px">
                    <button mat-raised-button 
                            color="primary"
                            (click)="consultar()">
                        Consultar
                    </button>
                </div>
            </div>
        </div>
    </mat-card-title>
    <hr>
    <br>

    <mat-card-content>
        <form autocomplete="off"
              (submit)="guardar()"
              [formGroup]="miFormulario">

            <div fxLayout="column">
                <div fxLayout="row"
                     fxLayoutGap="20px"
                     fxLayout.lt-sm="column"
                     fxLayoutGap.lt-sm="0">

                    <mat-form-field appearance="outline"
                                    fxFlex="100">
                        <mat-label>Categoria</mat-label>
                        <input matInput
                            type="text"
                            placeholder="Categoria"
                            formControlName="idTipoProducto"
                            [matAutocomplete]="auto"
                            [errorStateMatcher]="validarService.matcher">
                        <mat-autocomplete #auto="matAutocomplete"
                            (optionSelected)="opcionSeleccionada( $event, 'idTipoProducto' )">
                            <mat-option *ngFor="let categoria of filteredOptions | async" [value]="categoria">
                                {{ categoria.nombre | titlecase }}
                            </mat-option>
                            <mat-option *ngIf="lista.length === 0" [value]="">
                                No hay opciones.
                            </mat-option>
                        </mat-autocomplete>   
                        <mat-error 
                        *ngIf="validarService.campoEsValido('idTipoProducto')">
                        {{validarService.getMensaje('idTipoProducto')}}
                        </mat-error>

                    </mat-form-field>

                    <mat-form-field appearance="outline"
                                    fxFlex="100">
                        <mat-label>Nombre</mat-label>
                        <input matInput
                            type="text"
                            placeholder="Nombre"
                            formControlName="nombre"
                            [errorStateMatcher]="validarService.matcher">
                        <mat-error 
                        *ngIf="validarService.campoEsValido('nombre')">
                        {{validarService.getMensaje('nombre')}}
                        </mat-error>

                    </mat-form-field>

                </div>

                <div fxLayout="row"
                     fxLayoutGap="20px"
                     fxLayout.lt-sm="column"
                     fxLayoutGap.lt-sm="0">

                    <mat-form-field appearance="outline"
                                    fxFlex="100">
                        <mat-label>Descripcion</mat-label>
                        <input matInput
                            type="text"
                            placeholder="Descripcion"
                            formControlName="descripcion"
                            [errorStateMatcher]="validarService.matcher">
                        <mat-error 
                        *ngIf="validarService.campoEsValido('descripcion')">
                        {{validarService.getMensaje('descripcion')}}
                        </mat-error>

                    </mat-form-field>

                    <mat-form-field appearance="outline"
                                    fxFlex="100">
                        <mat-label>Existencia</mat-label>
                        <input matInput
                            type="number"
                            placeholder="Existencia"
                            formControlName="existencia"
                            [errorStateMatcher]="validarService.matcher">
                        <mat-error 
                        *ngIf="validarService.campoEsValido('existencia')">
                        {{validarService.getMensaje('existencia')}}
                        </mat-error>

                    </mat-form-field>

                    <mat-form-field appearance="outline"
                                    fxFlex="100">
                        <mat-label>Valor</mat-label>
                        <input matInput
                            type="number"
                            placeholder="Valor"
                            formControlName="valor"
                            [errorStateMatcher]="validarService.matcher">
                        <mat-error 
                        *ngIf="validarService.campoEsValido('valor')">
                        {{validarService.getMensaje('valor')}}
                        </mat-error>

                    </mat-form-field>

                </div>
            </div>

            <div fxLayoutAlign="end center">
                <button type="submit"
                        mat-raised-button
                        color="primary">
                    <mat-icon>save_as</mat-icon>
                    {{ ( producto.id ) ? 'Editar' : 'Guardar' }}
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>

